*/ttt.py
ttt.py
text2sql/text2sql-java/.idea/*
Python + LangChain 0.3 实战智能体/test.py
.DS_Store
Python + LangChain 0.3 实战智能体/__pycache__/*
Python + LangChain 0.3 实战智能体/kb_db/*

*/**/*.pt
Speech-to-Text/models/base.pt
AIAgent入门到智能/test_output/*
AIAgent入门到智能/__pycache__/*.pyc

**/ckpts/*
**/ckpts/**/*

## test
kokoro-tts/output_full.wav
kokoro-tts/test.py
PiperTTS/demo.py
PiperTTS/output.wav
PiperTTS/models/zh_CN-huayan-medium.onnx
PiperTTS/models/zh_CN-huayan-medium.onnx.json
GLM-ASR/zai-org/GLM-ASR-Nano-2512/*
kokoro-tts/*
